@model YouBay.Domain.Entities.Subcategory

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Subcategory</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.subcategoryId)

        <div class="form-group">
            @Html.LabelFor(model => model.assistantAvatarImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.assistantAvatarImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.assistantAvatarImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoryDisplayPriority, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryDisplayPriority, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryDisplayPriority, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.categoryName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.categoryName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.categoryName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isActive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isActive, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isActive, "", new { @class = "text-danger" })
            </div>
        </div>

    <div class="form-group">
        @Html.LabelFor(model => model.subcategoryAttributesAndTypes, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.subcategoryAttributesAndTypes, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.subcategoryAttributesAndTypes, "", new { @class = "text-danger" })
        </div>
    </div>

        <!-- _ _ _  _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _ _ -->
        <div class="form-group">
            @Html.LabelFor(model => model.category_categoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="category_categoryId" name="category_categoryId">
                    @foreach (var category in ViewBag.listCategory)
                    {
                        <option value="@category.categoryId"
                                @if (category.categoryId == Model.categorys.categoryId)
                                { @Html.Raw("selected=\"selected\"")}>
                            @category.categoryName
                        </option>
                    }
                </select>
                @Html.ValidationMessageFor(model => model.category_categoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <!-- _ _ _  _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _ _ -->



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
