@model YouBay.Domain.Entities.Product

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.isDisabledByAdmin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isDisabledByAdmin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isDisabledByAdmin, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.isDisabledBySeller, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.isDisabledBySeller, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.isDisabledBySeller, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productDescription, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.productDescription, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productDescription, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.productImage, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.productName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.productName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.productName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.quantityAvailable, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.quantityAvailable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.quantityAvailable, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.sellerPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.sellerPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.sellerPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subcategoryAttributesAndValues, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.subcategoryAttributesAndValues, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.subcategoryAttributesAndValues, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.seller_youBayUserId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- _ _ _  _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _ _ -->
                <select id="seller_youBayUserId" name="seller_youBayUserId">
                    @foreach (var seller in ViewBag.listSellers)
                    {
                        <option value="@seller.youBayUserId">
                            @seller.firstName @seller.lastName (@seller.email) from @seller.countryOfResidence
                        </option>
                    }
                </select>
                <!-- _ _ _  _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _ _ -->
                @Html.ValidationMessageFor(model => model.seller_youBayUserId, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.subcategory_subcategoryId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <!-- _ _ _  _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _ _ -->
                <select id="subcategory_subcategoryId" name="subcategory_subcategoryId">
                    @foreach (var subcategory in ViewBag.listSubcategory)
                {
                        <option value="@subcategory.subcategoryId">
                            @subcategory.categoryName
                        </option>
                    }
                </select>
                <!-- _ _ _  _ _ _  _ _ _ _ _ _ _ _ _ _ _ _ _  _ _ _ _  _ _ -->
                @Html.ValidationMessageFor(model => model.subcategory_subcategoryId, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
