@model IEnumerable<YouBay.Domain.Entities.Product>
@RenderPage("../Shared/_Admin.cshtml")
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.isDisabledByAdmin)
            @*@Html.Label("Disabled Admin")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.isDisabledBySeller)
            @*@Html.Label("Disabled Seller")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productDescription)
            @*@Html.Label("Description")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productImage)
            @*@Html.Label("Image")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.productName)
            @*@Html.Label("Name")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.quantityAvailable)
            @*@Html.Label("Quantity")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sellerPrice)
            @*@Html.Label("Price")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategoryAttributesAndValues)
            @*@Html.Label("Values")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.seller_youBayUserId)
            @*@Html.Label("Seller")*@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.subcategory_subcategoryId)
            @*@Html.Label("Category")*@
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.isDisabledByAdmin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isDisabledBySeller)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productDescription)
        </td>
        <td>
            <img alt="" class="img-responsive" src="@Html.DisplayFor(modelItem => item.productImage)">
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.productName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.quantityAvailable)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sellerPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategoryAttributesAndValues)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.seller_youBayUserId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.subcategory_subcategoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.productId }) |
            @Html.ActionLink("Details", "Details", new { id=item.productId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.productId })
        </td>
    </tr>
}

</table>
